/* задача 25 */

/* p {
	color: red;
} */

/* Задача 26 */

/* h1 {
	color: green;
}
h2 {
	color: aqua;
}
h3 {
	color: red;
}
p {
	color: orange;
} */

/* Задача 27 */

/* h1 {
	color: #9440D5;
}
p {
	color: rgb(255, 69, 0);
} */

/* Задача 28 */

/* p {
	width: 300px;
}

td {
	width: 400px;
	height: 300px;
} */

/* Задача 34 */
/* Задача 34 #1*/

/* h1 {
	text-align: right;
} */

/* Задача 34 #2*/
/* h2 {
	text-align: center; */
	
	/* Задача 34 #8*/
	/* width: 300px;
} */

/* Задача 34 #3*/
/* table { */
	/* width: 500px; */
/* } */

/* Задача 34 #4*/
/* th { */
	/* text-align: left; */
/* } */

/* Задача 34 #5*/
/* td { */
	/* text-align: center; */
/* } */

/* Задача 34 #6*/
/* p { */
	/* width: 300px; */

	/* Задача 34 #7*/
	/* text-align: justify; */
/* } */

/* Задача 35 */

/* table {
	width: 500px;
	height: 300px;
}

td {
	text-align: center;
	font-weight: bold;
}

th {
	font-weight: normal;
} */

/* Задача 36 */

/* h2 {
	font-style: italic;
} */

/* Задача 37 */

/* h1 {
	font-size: 50px;
	text-align: center;
}

h2 {
	font-size: 40px;
	font-weight: normal;
}

p {
	font-size: 30px;
} */

/* Задача 38 */

/* p {
	font-family: "Comic Sans MS"
} */

/* Задача 39 */

/* p {
	font-size: 30px;
	line-height: 15px;
} */

/* Задача 40 */
/* 
p {
	font-size: 30px;
	line-height: 0.5;
} */

/* Задача 41 */
/* #1 */
/* p {
	font: 13px / 20px "Times New Roman";
} */
/* #2 */
/* p {
	width: 300px;
	color: red;
	font: bold 40px Arial;
} */
/* #4 */
/* p {
	font: italic bold 40px / 60px Arial;
	text-indent: 50px;
} */

/* Задача 42 */
/* p {
	text-indent: 50px;
} */

/* Задача 44 */

/* p {
	text-decoration: underline;
} */

/* Задача 45 */

/* p {
	text-decoration: overline;
	color: red;
} */

/* Задача 46 */

/* p {
	text-decoration: line-through;
	color: green;
} */

/* Задача 47 */

/* a {
	text-decoration: none;
	color: red;
} */

/* Задача 48 */
/* 
h1 {
	width: 500px;
	text-align: center;
	color: blue;
	font-size: 40px;
}

h2 {
	width: 500px;
	text-align: center;
	color: green;
	font-weight: normal;
	font-size: 30px;
}

p {
	width: 500px;
	text-align: justify;
	font-size: 16px;
	line-height: 25px;
	font-family: Arial;
	text-indent: 40px;
} */

/* Задача 51 */

/* h1, h2, h3 {
	text-align: center;
} */

/* Задача 52 */


/* h1, h2, h3 {
	text-align: center;
}
h2 {
	color: blue;
}
h3 {
	font-size: 16px;
	color: red;
} */

/* h1, h2, h3 {
	text-align: center;
	color: red;
}
h3 {
	font-size: 16px;
} */

/* Задача 53 #1 */

/* ul i {
	color: red;
}

p i {
	color: green;
} */

/* Задача 53 #2 */

/* p b i {
	color: red;
} */

/* Задача 54 #1 */

/* li > b {
	color: red;
} */

/* Задача 55 #1 */

/* .odd {
	color: red;
}
.eve {
	color: green;
} */

/* Задача 55 #2 */

/* .eee {
	color: red;
} */

/* Задача 56 */

/* .xxx {
	font-size: 30px;
} */

/* Задача 57 #1 */

.task57-first {
	color: red;
}
.task57-second {
	color: green;
}
.task57-third {
	color: aqua;
}

/* Задача 57 #1 */

.task57-one {
	color: red;
}
.task57-two {
	color: green;
}

/* Задача 58 #1 */

.eee, .zzz {
	line-height: 1.5;
	font-family: Arial;
}
.eee {
	font-size: 20px;
}
.zzz {
	font-size: 30px;
}

/* Задача 58 #2 */

.eee, .zzz, .ggg {
	text-align: center;
	font-family: Arial;
}
.eee {
	font-size: 20px;
}
.zzz {
	font-size: 30px;
}
.ggg {
	font-size: 35px;
}

/* Задача 59 #1 */

.header {
	color: red;
}
.header > h2 {
	font-size: 40px;
}
.header > h3 {
	font-size: 30px;
}

/* Задача 60 */

.eee i {
	color: red;
}

/* Задача 61 #1 #2 #3 #4 #5 */

.eee .bbb {
	color: red;
}
.eee h2 {
	color: red;
}
.eee h2.bbb {
	color: red;
}
.eee h3.bbb {
	color: red;
}
.eee p.bbb {
	color: red;
}
.eee .bbb .kkk {
	color: red;
}

/* Задача 62 #1 #2 #3 #4 #5 */

p.bbb {
	color: red;
}
p .bbb {
	color: red;
}
.eee p.bbb {
	color: red;
}
.eee p .bbb {
	color: red;
}

/* Задача 63 */

.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}

.task63-1 {
	color: red;
}
.task63-2 {
	font-size: 22px;
}
.task63-3 {
	font-weight: bold;
}

.task64 {
	#elem1 {
		color: red;
	}
	#elem2 {
		color: green;
	}
	#elem3 {
		color: aqua;
	}

}

.task65 {
	#block {
		color: green;
	}
	.text {
		font-size: 30px;
	}
}

.task66 {
	#elem > h2 {
		color: red;
	}
	#elem .text {
		color: green;
	}
	#elem p.text {
		color: aqua;
	}
	#elem li.text {
		color: brown;
	}
}