/* задача 25 */

/* p {
	color: red;
} */

/* Задача 26 */

/* h1 {
	color: green;
}
h2 {
	color: aqua;
}
h3 {
	color: red;
}
p {
	color: orange;
} */

/* Задача 27 */

/* h1 {
	color: #9440D5;
}
p {
	color: rgb(255, 69, 0);
} */

/* Задача 28 */

/* p {
	width: 300px;
}

td {
	width: 400px;
	height: 300px;
} */

/* Задача 34 */
/* Задача 34 #1*/

h1 {
	text-align: right;
}

/* Задача 34 #2*/
h2 {
	text-align: center;
	
	/* Задача 34 #8*/
	width: 300px;
}

/* Задача 34 #3*/
table {
	width: 500px;
}

/* Задача 34 #4*/
th {
	text-align: left;
}

/* Задача 34 #5*/
td {
	text-align: center;
}

/* Задача 34 #6*/
p {
	width: 300px;
	
	/* Задача 34 #7*/
	text-align: justify;
}

