/* задача 25 */

/* p {
	color: red;
} */

/* Задача 26 */

/* h1 {
	color: green;
}
h2 {
	color: aqua;
}
h3 {
	color: red;
}
p {
	color: orange;
} */

/* Задача 27 */

h1 {
	color: #9440D5;
}
p {
	color: rgb(255, 69, 0);
}