section {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 3px dashed gray;
}
.task-241 {
	.one {
		#menu {
			display: flex;
		}
	}
	.two {
		#menu {
			display: flex;
			flex-direction: column;
			width: 300px;
			gap: 10px;
		}
	}
	#menu a {
		box-sizing: border-box;
		margin-right: 10px;
		padding: 10px 25px;
		font: 16px Arial;
		text-decoration: none;
		color: white;
		border: 1px solid #16A177;
		background-color: #16A177;
	}
	#menu a:hover, #menu a.active {
		color: #16A177;
		background-color: white;
	}
}