section {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 3px dashed gray;
}
.task-241 {
	.one {
		#menu {
			display: flex;
			gap: 10px;
		}
	}
	.two {
		#menu {
			display: flex;
			flex-direction: column;
			width: 300px;
			gap: 10px;
		}
	}
	.three {
		#menu {
			display: flex;
		}
	}
	#menu a {
		box-sizing: border-box;
		padding: 10px 25px;
		font: 16px Arial;
		text-decoration: none;
		color: white;
		border: 1px solid #16A177;
		background-color: #16A177;
	}
	#menu a:hover, #menu a.active {
		color: #16A177;
		background-color: white;
	}
}
.task-242 {
	.one {
		#wrapper {
			width: 700px;
			margin: 50px auto;
			text-align: justify;
			border: 1px solid black;
		}
		#menu {
			display: flex;
			margin-bottom: 20px;
			background-color: #484848;
		}
		#menu a {
			padding: 10px 25px;
			text-decoration: none;
			color: #fff;
			font: bold 14px Arial;
		}
		#menu a:hover, #menu a.active {
			color: #484848;
			background-color: #fff;
		}
		#content h1 {
			text-align: center;
			margin-bottom: 10px;
		}
		#content p {
			padding: 0 10px;
			margin-bottom: 5px;
			font: 17px / 20px "Times New Roman";
		}
		#content a {
			color: blue;
			text-decoration: none;
			font-weight: bold;
		}
	}
	.two {
		#wrapper {
			width: 900px;
			margin: 0 auto 50px;
		}
		#containter {
			margin-bottom: 20px;
			border-left: 1px ridge #FC9D00;
			border-right: 1px ridge #FC9D00;
			border-bottom: 1px ridge #FC9D00;
		}
		#menu {
			display: flex;
			background-color: #FC9D00;
			margin-bottom: 20px;
		}
		#menu a {
			padding: 15px 25px;
			text-decoration: none;
			color: #fff;
			font: bold 15px Arial;
		}
		#menu a:hover, #menu a.active {
			color: #FC9D00;
			background-color: #fff;
		}
		#content h1 {
			font: 30px "Times New Roman";
		}
		#content p {
			margin-bottom: 5px;
			padding: 0 10px;
			font: 17px / 33px "Times New Roman";
			text-align: justify;
			text-indent: 50px;
			color: #CC8000;
		}
		#content a {
			color: #CC8000;
			text-decoration: underline;
			font-weight: bold;
		}
		#footer {
			display: flex;
			justify-content: center;
			font: 13px Arial;
		}
		#footer a {
			margin: 0 10px;
			text-decoration: none;
			color: #9B6100;
			font: bold 13px Arial;
		}
	}
	.three {
		#wrapper {
			width: 700px;
			margin: 0 auto;
		}
		#wrapper h1 {
			font: 30px "Times New Roman";
			text-align: center;
		}
		#wrapper div {
			margin-bottom: 20px;
			border: 1px solid #707070;
			padding: 20px;
		}
		#wrapper a {
			color: blue;
			text-decoration: none;
		}
		#wrapper p {
			margin: 10px 0;
			text-align: justify;
		}
		#wrapper p.more {
			text-align: right;
			padding-right: 20px;
		}
	}
}
.task-243 {
	#header {
		background: #008040;
		color: white;
	}
	.wrapper {
		margin-bottom: 30px;
	}
	.center {
		width: 840px;
		padding: 10px;
		margin: 0 auto;
	}
	#header h1 {
		font-size: 35px;
		margin-bottom: 7px;
		text-align: center;
	}
	#services {
		background-color: white;
	}
	.wrapper h2 {
		margin-bottom: 10px;
		text-align: center;
		font-size: 27px;
	}
	.wrapper p, .wrapper li {
		margin-bottom: 10px;
		text-align: justify;
		font-size: 16px;
	}
	#contacts {
		background-color: #C60304;
		color: white;
	}
	#contacts p {
		text-align: center;
	}
	#company {
		background-color: white;
	}
	#footer {
		padding-top: 100px;
		background: #FF8040;
		color: white;
		text-align: center;
		font-size: 13px;
	}
}